* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h2 {
    margin: 3rem 0 1.5rem;
}

.separator {
    display: block;
    width: 100%;
    height: 2px;
    margin: 5rem auto;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(72,72,72,1) 20%, rgba(72,72,72,1) 80%, rgba(255,255,255,0) 100%);
}

.App {
    padding: 5rem 3rem;
}

.task-1 .film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.task-1 .film {
    margin: 0.5rem 2.5rem;
}
.task-1 .film p {
    width: 140px;
    height: 160px;
    background-color: #888888;
}

.task-1 .card-body-stars {
    list-style: none;
    display: flex;
    margin: 0.5rem 0;
    padding: 0;
}


/* ============ task 2 ================*/

/* Global Styles */

@import url("//fonts.googleapis.com/css?family=Work+Sans:300,400,600");

.task-1,
.task-2 {
  background:#e9e9e9;
  color:#333;
  font-family:"Work Sans", sans-serif;
  line-height:1.4;
  height: 100%;
  width: 100%;
}

.task-2 *,::before,::after {
  box-sizing:border-box;
}

.task-2 :focus {
  outline:none;
}

.task-2 .wrapper {
  margin:0 auto;
  padding:1rem 0;
  width:calc(100% - 5rem);
}


/* Progress Bar */

.task-2 .progress {
  background:#31708f;
  height:10px;
  max-width:100%;
  position:absolute;
  top:0;
  transition:width 300ms ease;
  width:0;
}


/* Spinner */

@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.task-2 .loading {
  animation:spin 1s infinite linear;
  border-radius:50%;
  border:.25rem solid rgba(255,255,255,.5);
  border-top-color:#31708f;
  height:30px;
  position:absolute;
  top:calc(1rem + 10px);
  width:30px;
}


/* Pagination */

.task-2 .page {
font-size:0;
position:relative;
text-align:right;
top:5px;
}

.task-2 .page a {
  color:#31708f;
  display:inline-block;
  font-size:2.025rem;
  text-decoration:none;
  transition:color 300ms ease;
}

.task-2 .page a:hover {
  color:#333;
}

.task-2 .page .prev {
  display:none;
}

.task-2 .page .set {
  font-weight:600;
  margin:0 .5rem;
  pointer-events:none;
  position:relative;
  top:-1px;
}


/* Shop Styles */

.task-2 .item-list {
  column-gap:1rem;
  margin:1rem 0 0;
  padding:0;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.task-2 .item {
  background-color:#fff;
  border-radius:2px;
  box-shadow:2px 2px 4px 0 #d1d1d1;
  display:inline-block;
  margin:0 0 1rem;
  padding:1rem;
  position:relative;
  width:100%;
}

.task-2 .item.hidden {
  visibility:hidden;
}

.task-2 .item-image {
  background-color:#e9e9e9;
}

.task-2 .item-image img {
  border-radius:2px;
  display:block;
  height:auto;
  transition:opacity 1200ms ease;
  width:100%;
}

.task-2 .item-title {
  font-size:.85rem;
  margin:.5rem .25rem;
  word-wrap:break-word;
}

.task-2 .item-price {
  color:#3c763d;
  display:inline-block;
  font-size:1.2rem;
  font-weight:600;
  margin:.5rem .25rem 0;
  line-height:1;
}

.task-2 .item-quantity {
  border-radius:2px;
  bottom:1rem;
  color:#fff;
  font-size:.75rem;
  font-weight:600;
  padding:.25rem .5rem;
  position:absolute;
  right:1rem;
}


/* Quantity Level */

.task-2 [class^="level-"] {
  color:#fff;
}

.task-2 .level-low { background-color:#a94442; }
.task-2 .level-medium { background-color:#8a6d3b; }
.task-2 .level-high { background-color:#3c763d; }


/* Media Queries */

@media only screen and (min-width:480px) {
    .task-2 .item-list {
    column-count:2;
  }
}

@media only screen and (min-width:700px) {
    .task-2 .item-list {
    column-count:3;
  }
}

@media only screen and (min-width:900px) {
    .task-2 .item-list {
    column-count:4;
  }
}

@media only screen and (min-width:1200px) {
    .task-2 .item-list {
    column-count:5;
  }
}


/* ================ task-3 ================ */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.task-3 h2 {
  color: black;
}
.task-3 ul {
  list-style: none;  
}

.task-3 *, 
.task-3  *:before, 
.task-3  *:after {
  box-sizing: border-box;
}

.task-3 {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.task-3 .container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.task-3 .people-list {
  width: 260px;
  float: left;
}

.task-3 .people-list .search {
  padding: 20px;
}

.task-3 .people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}

.task-3 .people-list .fa-search {
  position: relative;
  left: -25px;
}

.task-3 .people-list ul {
  padding: 20px;
  height: 770px;
}

.task-3 .people-list ul li {
  padding-bottom: 20px;
}

.task-3 .people-list img {
  float: left;
}

.task-3 .people-list .about {
  float: left;
  margin-top: 8px;
}

.task-3 .people-list .about {
  padding-left: 8px;
}

.task-3 .people-list .status {
  max-width: 150px;
  color: #92959E;
}

.task-3 .chat {
  width: 490px;
  /* float: left; */
  margin-left: auto;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

.task-3 .chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.task-3 .chat .chat-header img {
  float: left;
}

.task-3 .chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.task-3 .chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.task-3 .chat .chat-header .chat-num-messages {
  color: #92959E;
}

.task-3 .chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}

.task-3 .chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}

.task-3 .chat .chat-history .message-data {
  margin-bottom: 15px;
}

.task-3 .chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.task-3 .chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.task-3 .chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.task-3 .chat .chat-history .my-message {
  background: #86BB71;
}

.task-3 .chat .chat-history .other-message {
  background: #94C2ED;
}

.task-3 .chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}

.task-3 .chat .chat-message {
  padding: 30px;
}

.task-3 .chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.task-3 .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.task-3 .chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}

.task-3 .chat .chat-message button:hover {
  color: #75b1e8;
}

.task-3 .online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.task-3 .online {
  color: #86BB71;
}

.task-3 .offline {
  color: #E38968;
}

.task-3 .me {
  color: #94C2ED;
}

.task-3 .align-left {
  text-align: left;
}

.task-3 .align-right {
  text-align: right;
}

.task-3 .float-right {
  float: right;
}

.task-3 .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
